.add-button{
  background-color: #08979c;
  border-color: white;
  margin-left: 16px;
}
.add-player{
  display: flex;
}
.table-btn{
  font-size: large;
  font-weight: 800;
  color: #00474f !important; 
}
#playerName{
  border-color: #00474f;
}