.all{
  color: white;

}

.header{
  padding-top: 16px;
  background-color: #08979c;
  display: flex;
  justify-content: center;
}

.body{
  min-height:400px;
  background-color:  white;
  color: #00474f;
  margin: 16px 272px;
}

.footer{
  height: 50px;
  background-color: #00474f;
}
