.all{
  color: white;

}

.header{
  padding-top: 16px;
  background-color: #08979c;
  display: flex;
  justify-content: center;
}

.body{
  min-height:400px;
  min-width: 360px;
  max-width: 1000px;
  background-color:  white;
  color: #00474f;
  margin: 16px auto;
}

.footer{
  height: 50px;
  background-color: #00474f;
  display: flex;
  justify-content: center;
  padding-top: 8px;
}
a{
  color: white !important;
}
